name: Backend CI

on:
  push:
    branches: ["main"]
  pull_request:
      branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/requirements.txt

      - name: Run tests and collect coverage
        run: |
          coverage run -m pytest backend/tests/test_services.py
          coverage xml -o /home/runner/work/Sistema_gestao_escolar/Sistema_gestao_escolar/backend/tests/coverage.xml

      # Upload coverage to Codecov
      - uses: actions/checkout@master
      - uses: codecov/codecov-action@v3
        with:
          # token: ${{ secrets.CODECOV_TOKEN }}
          directory: /home/runner/work/Sistema_gestao_escolar/Sistema_gestao_escolar/backend/tests/
          files: /home/runner/work/Sistema_gestao_escolar/Sistema_gestao_escolar/backend/tests/coverage.xml
          fail_ci_if_error: false
          verbose: true
